<footer class="nav__footer">
    <!-- <div class="footer-logo">
        <a href="./index.html" class="footer-logo__link">
            <img class="footer-logo__img" src="./assets/images/logo_alicia_piqueras.svg" alt="Alicia Logo">
            <div class="footer-logo__hovered">
                <img class="footer-logo__hovered-img" src="./assets/images/estrellas-hovered.svg" alt="Alicia hovered">
            </div>  
        </a>
    </div> -->
    <ul class="footer-nav__list">
        <li class="main-nav__item main-nav__link--alicia">
            <a href="./index.html" class="main-nav__link--alicia">
                <img class="alicia-logo__img" src="./assets/images/logo_alicia_piqueras.svg" alt="Alicia Logo">
                <div class="alicia-hovered">
                    <img class="alicia-hovered__img" src="./assets/images/estrellas-hovered.svg" alt="Alicia hovered">
                </div>  
            </a>
        </li>
        <div class="main-nav__link--info" aria-label="Main" id="nav">    
            <li class="footer-nav__item">
                <a href="./about-me.html" class="footer-nav__link">About</a>
            </li>
            <li class="footer-nav__item">
                <a href="./works.html" class="footer-nav__link">Work</a>
            </li>
            <li class="footer-nav__item">
                <a href="https://www.linkedin.com/in/alicia-piqueras-marzo/" class="footer-nav__link" target="_blank">LinkedIn</a>
            </li>
            <li class="footer-nav__item">
                <a href="mailto:aliciapiqueras@gmail.com" class="footer-nav__link">Email</a>
            </li>
        </div>
    </ul>
    <div class="footer--container">
        <h1 class="footer--header">
            Did you like what you saw?
            <br>let's <span>catch up!</span>
        </h1>
        <div class="footer--info">
            <div class="info--1">
                <p class="footer--title">Get in touch</p>
                <a class="footer-link" href="mailto:aliciapiqueras@gmail.com">aliciapiqueras93@gmail.com</a>
            </div>
            <div class="info--2">
                <p class="footer--title">LinkedIn</p>
                <a class="footer-link" href="https://www.linkedin.com/in/alicia-piqueras-marzo/">Alicia Piqueras Marzo</a>
            </div>
        </div>
    </div>
</footer>