<div class="graphicdesign">
    <div class="forma-elipse">
        <div class="sombra-elipse"></div>
        <div class="forma-elipse__contenido">
            <span class="forma-elipse__texto  graphic-design" id="animatedElipse">Graphic <br>design</span>
        </div>
    </div>

    <div class="gd--container">
        <div class="gd--card gd--card__1">
            <img class="graphicdesign--icon"
                src="./assets/images/MARLENA-20240409T153234Z-001/-HOME-BRANDING-MARLENA/3/TOTEBAG-MARLENAPIANO.jpg"
                alt="Marlene Visual Identity">
            <div class="graphicdesign--texto">
                <div class="graphicdesign--info">
                    <p class="graphicdesign--info__header">Visual Identity</p>
                    <p class="graphicdesign--info__subtitle">
                        Marlena Branding Proposal 1
                    </p>
                </div>
                <div class="graphicdesign--link">
                    <a class="graphicdesign--link__link" href="#">+ see more</a>
                </div>
            </div>
        </div>

        <div class="gd--card gd--card__2">
            <img class="graphicdesign--icon"
                src="./assets/images/MARLENA-20240409T153234Z-001/-HOME-BRANDING-MARLENA/1/cartel-exterior.jpg"
                alt="Marlene Visual Identity">
            <div class="graphicdesign--texto">
                <div class="graphicdesign--info">
                    <p class="graphicdesign--info__header">Visual Identity</p>
                    <p class="graphicdesign--info__subtitle">
                        Marlena Branding Proposal 1
                    </p>
                </div>

                <div class="graphicdesign--link">
                    <a class="graphicdesign--link__link" href="#">+ see more</a>
                </div>

            </div>
        </div>
        <div class="gd--card gd--card__3">
            <img class="graphicdesign--icon"
                src="./assets/images/MARLENA-20240409T153234Z-001/-HOME-BRANDING-MARLENA/2/tarjeta-visita-1.jpg"
                alt="Marlene Visual Identity">
            <div class="graphicdesign--texto">
                <div class="graphicdesign--info">
                    <p class="graphicdesign--info__header">Visual Identity</p>
                    <p class="graphicdesign--info__subtitle">
                        Marlena Branding Proposal 1
                    </p>
                </div>
                <div class="graphicdesign--link">
                    <a class="graphicdesign--link__link" href="#">+ see more</a>
                </div>
            </div>
        </div>
        <div class="gd--card gd--card__4">
            <img class="graphicdesign--icon"
                src="./assets/images/MARLENA-20240409T153234Z-001/-HOME-BRANDING-MARLENA/2/tarjeta-visita-1.jpg"
                alt="Marlene Visual Identity">
            <div class="graphicdesign--texto">
                <div class="graphicdesign--info">
                    <p class="graphicdesign--info__header">Visual Identity</p>
                    <p class="graphicdesign--info__subtitle">
                        Marlena Branding Proposal 1
                    </p>
                </div>
                <div class="graphicdesign--link">
                    <a class="graphicdesign--link__link" href="#">+ see more</a>
                </div>
            </div>
        </div>
    </div>