<div class="highlights">
    <img class="highlights--img" src="./assets/images/Highlights.png" alt="highlights">
    <div class="highlights--cards">
        <!--HIGHLIGHTS CARD 1-->
        <div class="highlights--cards__card">
            <a class="card--link" href="#">
                <div class="card--content">
                    <img class="card--img" src="./assets/images/education.png" alt="Education">
                    <div class="card--info">
                        <p class="card--info__button">currently on</p>
                        <p class="card--info__item">EDUCATION</p>
                        <p class="card--info__info">
                            Discover more about my passion for teaching.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <!--HIGHLIGHTS CARD 2-->
        <div class="highlights--cards__card">
            <a class="card--link" href="#">
                <div class="card--content">
                    <img class="card--img" src="./assets/images/home24.jpg" alt="Home24">
                    <div class="card--info">
                        <p class="card--info__button">achievement</p>
                        <p class="card--info__item">HOME24</p>
                        <p class="card--info__info">
                            See how our project becomes reality.
                        </p>
                    </div>
                </div>
            </a>
        </div>

        <!--HIGHLIGHTS CARD 3-->
        <div class="highlights--cards__card">
            <a class="card--link" href="#">
                <div class="card--content">
                    <img class="card--img" src="./assets/images/logofolio.jpg" alt="logofolio">
                    <div class="card--info">
                        <p class="card--info__button">graphic design</p>
                        <p class="card--info__item">LOGOFOLIO</p>
                        <p class="card--info__info">
                            Check my latests graphic design works.
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<!--SWIPER PARA MOVIL-->
<!-- Slider main container -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            <a class="card--link" href="#">
                <div class="card--content">
                    <img class="card--img" src="./assets/images/education.png" alt="Education">
                    <div class="card--info">
                        <p class="card--info__button">currently on</p>
                        <p class="card--info__item">EDUCATION</p>
                        <p class="card--info__info">
                            Discover more about my passion for teaching.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="swiper-slide">
            <a class="card--link" href="#">
                <div class="card--content">
                    <img class="card--img" src="./assets/images/home24.jpg" alt="Home24">
                    <div class="card--info">
                        <p class="card--info__button">achievement</p>
                        <p class="card--info__item">HOME24</p>
                        <p class="card--info__info">
                            See how our project becomes reality.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="swiper-slide">
            <a class="card--link" href="#">
                <div class="card--content">
                    <img class="card--img" src="./assets/images/logofolio.jpg" alt="logofolio">
                    <div class="card--info">
                        <p class="card--info__button">graphic design</p>
                        <p class="card--info__item">LOGOFOLIO</p>
                        <p class="card--info__info">
                            Check my latests graphic design works.
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
