<nav class="main-nav" aria-label="Main">
    <button class="abrir__menu" id="abrir">
        <i class="abrir__menu--hamburguesa fa-solid fa-bars"></i>
    </button>
    <ul class="main-nav__list">
        <div class="main-nav__link--alicia">
            <li class="main-nav__item">
                <div class="figure--alicia">
                    <a href="./index.html" class="main-nav__link--alicia">Alicia Piqueras</a>

                    <div class="alicia-hovered">
                        <img class="alicia-hovered__img" src="./assets/images/Alicia-hovered-1.png" alt="Alicia hovered">
                    </div>
                </div>
            </li>
        </div>
        <div class="main-nav__link--info" aria-label="Main" id="nav">    
            <li class="main-nav__item">
                <a href="./about-me.html" class="main-nav__link">About</a>
            </li>
            <li class="main-nav__item">
               <!-- <a href="./pages/works.html" class="main-nav__link--span">Work</a>--> 
                <a href="./works.html" class="main-nav__link--span">Work</a>

            </li>
            <li class="main-nav__item">
                <a href="https://www.linkedin.com/in/alicia-piqueras-marzo/" class=" main-nav__link--span" target="_blank">LinkedIn</a>
            </li>
            <li class="main-nav__item">
                <a href="mailto:aliciapiqueras@gmail.com" class="main-nav__link main-nav__dircorreo">aliciapiqueras@gmail.com</a>
            </li>
            <li class="main-nav__item-email">
                <a href="mailto:aliciapiqueras@gmail.com" class="main-nav__link">Email</a>
            </li>
            <button class="cerrar__menu" id="cerrar"><i class="cerrar__menu--x fa-solid fa-x"></i></button>

        </div>
    </ul>
</nav>