<nav class="main-nav" aria-label="Main">
    <ul class="main-nav__list">
        <div class="main-nav__link--alicia">
            <li class="main-nav__item">
                <a href="#" class="main-nav__link--Alicia">Alicia Piqueras</a>
            </li>
        </div>
        <div class="main-nav__link--info">    
            <li class="main-nav__item">
                <a href="#" class="main-nav__link">About</a>
            </li>
            <li class="main-nav__item">
                <a href="#" class="main-nav__link--span">Work</a>
            </li>
            <li class="main-nav__item">
                <a href="#" class=" main-nav__link--span">LinkedIn</a>
            </li>
            <li class="main-nav__item">
                <a href="#" class="main-nav__link">aliciapiqueras@gmail.com</a>
            </li>
        </div>
    </ul>
</nav>