<div class="ux">
    <img class="ux--img" src="./assets/images/UX.png" alt="UX/UI">

    <!--CARD 1 UX/UI-->

    <div class="ux--cards__container">
        <div class="ux--card">
            <div class="ux--card__bloque1">
                <div class="card--bloque1__texto">
                    <p class="texto--etiqueta">ux research</p>
                    <p class="texto--etiqueta">marketing strategy</p>
                </div>
                <h2 class="texto--titulo">Home 24 x BUTLERS</h2>
                <h3 class="texto--subtitulo">
                    Where an online furniture shop meets the streets.
                </h3>
                <table class="texto--tabla__tabla">
                    <thead>
                        <tr>
                            <th class="table--col">Duration</th>
                            <th class="table--col">Date</th>
                            <th class="table--col">Team</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="table--row">2 weeks</th>
                            <td class="table--row">June 2023</td>
                            <td class="table--row">
                                Alicia Piqueras, <br>Miren Zubizarreta, <br>Sara
                                Hernández, <br>Luis Forero
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="ux--card__bloque2">
                <a class="card--link" href="#">
                    <figure>
                        <img class="card--bloque1__img" src="./assets/images/case-study-24xbutlers.png"
                            alt="Case study Home 24 x Butlers">
                        <div class="card--link__hovered">
                            <h3 class="hovered--header">read more +</h3>
                    </figure>
                </a>
            </div>
        </div>

        <!--CARD 2 UX/UI-->

        <div class="ux--card">
            <div class="ux--card__bloque1">
                <div class="card--bloque1__texto">
                    <p class="texto--etiqueta">e-commerce</p>
                    <p class="texto--etiqueta">branding</p>
                </div>
                <h2 class="texto--titulo">Morokk SNKRS</h2>
                <h3 class="texto--subtitulo">
                    Bringing an E-bay shop to the next level.
                </h3>
                <table class="texto--tabla__tabla">
                    <thead>
                        <tr>
                            <th class="table--col">Duration</th>
                            <th class="table--col">Date</th>
                            <th class="table--col">Team</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="table--row">2 weeks</th>
                            <td class="table--row">June 2023</td>
                            <td class="table--row">Alicia Piqueras, <br>Sam Tyson</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="ux--card__bloque2">
                <a class="card--link" href="#">
                    <figure>
                        <img class="card--bloque1__img" src="./assets/images/case-study-Morokk.png"
                            alt="Case study Morokk">
                        <div class="card--link__hovered">
                            <h3 class="hovered--header">read more +</h3>
                    </figure>
                </a>
            </div>
        </div>

        <!--CARD 3 UX/UI-->

        <div class="ux--card">
            <div class="ux--card__bloque1">
                <div class="card--bloque1__texto">
                    <p class="texto--etiqueta">redesign</p>
                    <p class="texto--etiqueta">heuristic design</p>
                </div>
                <h2 class="texto--titulo">Splitwise redesign</h2>
                <h3 class="texto--subtitulo">
                    Track bills and other shared expenses.
                </h3>
                <table class="texto--tabla__tabla">
                    <thead>
                        <tr>
                            <th class="table--col">Duration</th>
                            <th class="table--col">Date</th>
                            <th class="table--col">Team</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="table--row">1 week</th>
                            <td class="table--row">June 2023</td>
                            <td class="table--row">Alicia Piqueras</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="ux--card__bloque2">
                <a class="card--link" href="#">
                    <figure>
                        <img class="card--bloque1__img" src="./assets/images/case-study-Splitwise.png"
                            alt="Case study Splitwise">
                        <div class="card--link__hovered">
                            <h3 class="hovered--header">read more +</h3>
                    </figure>
                </a>
            </div>
        </div>
    </div>
</div>