@use "sass:color";

:root {

  /* Definir las variables de colores */
  --texto: rgb(22, 18, 0);
  --texto-spam: #FF5995;
  --texto2: rgb(255,255,255);

  --fondo__Body: rgb(255,255,255);
  --fondo--card__ux: #FFFEF8;
  --hover1: #FFE459;
  --hover2: #FF5995;
  --bg__capa: rgba(0, 0, 0, 0.6);

}