@use "sass:color";

:root {

  /* Definir las variables de colores */
  --YELLOW-500: #FFE459;
  --BLUE-500: #599BFF;
  --GREEN-LIME-500: #A2FF59;
  --PINK-500: #FF5995;
  --WHITE: #FFFEF8;
  --BLACK: #212121;
  --LINES-BLUE-500: #73C4FF;
  --cherry-red: #F65050;

  --fondo--card: #FFFEF8;
  --bg__capa: rgba(0, 0, 0, 0.6);

}